In [10]:
from openbb import obb
import numpy as np
import pandas as pd

In [11]:
rates = (
    obb
    .fixedincome
    .government
    .treasury_rates (
            start_date="2020-01-01"
    )
    .to_df()
    .dropna()
    
)
rates

,month_1,month_3,month_6,year_1,year_2,year_3,year_5,year_7,year_10,year_20,year_30
date,,,,,,,,,,,
2020-01-02,0.0153,0.0154,0.0157,0.0156,0.0158,0.0159,0.0167,0.0179,0.0188,0.0219,0.0233
2020-01-03,0.0152,0.0152,0.0155,0.0155,0.0153,0.0154,0.0159,0.0171,0.0180,0.0211,0.0226
2020-01-06,0.0154,0.0156,0.0156,0.0154,0.0154,0.0156,0.0161,0.0172,0.0181,0.0213,0.0228
2020-01-07,0.0152,0.0154,0.0156,0.0153,0.0154,0.0155,0.0162,0.0174,0.0183,0.0216,0.0231
2020-01-08,0.0150,0.0154,0.0156,0.0155,0.0158,0.0161,0.0167,0.0178,0.0187,0.0221,0.0235
...,...,...,...,...,...,...,...,...,...,...,...
2024-12-19,0.0442,0.0435,0.0429,0.0428,0.0432,0.0435,0.0443,0.0451,0.0457,0.0482,0.0474
2024-12-20,0.0443,0.0434,0.0429,0.0427,0.0430,0.0432,0.0437,0.0445,0.0452,0.0479,0.0472
2024-12-23,0.0444,0.0436,0.0430,0.0426,0.0430,0.0436,0.0444,0.0452,0.0459,0.0485,0.0478
2024-12-24,0.0444,0.0440,0.0430,0.0424,0.0429,0.0436,0.0443,0.0452,0.0459,0.0484,0.0476
2024-12-26,0.0445,0.0435,0.0431,0.0423,0.0430,0.0435,0.0442,0.0449,0.0458,0.0483,0.0476

In [12]:
C = rates.cov()

In [13]:
eigenvalues, eigenvectors = np.linalg.eig(C)
lambda_sqrt =np.sqrt(eigenvalues)
eigv_decom = np.diag(lambda_sqrt)

In [14]:
B = eigv_decom @ eigenvectors.T
B = pd.DataFrame(
    data=B[:4] *100,
    index = ['wiggle', 'flex', 'twist', 'shift'],
    columns =rates.columns
)

In [15]:
B

,month_1,month_3,month_6,year_1,year_2,year_3,year_5,year_7,year_10,year_20,year_30
wiggle,-2.342265,-2.362140,-2.324284,-2.194230,-1.950329,-1.790938,-1.587927,-1.465689,-1.361489,-1.267404,-1.141681
flex,0.486370,0.361176,0.201533,0.019651,-0.183462,-0.268351,-0.298147,-0.281200,-0.242469,-0.223533,-0.145810
twist,0.162330,0.020910,-0.105165,-0.181646,-0.172886,-0.129849,-0.007690,0.074619,0.152050,0.187721,0.211127
shift,-0.093755,0.034919,0.067640,0.048732,-0.032090,-0.050976,-0.042120,-0.017784,0.005693,0.049230,0.043496

In [20]:
random_shocks = np.random.normal(0,1,size=(4,))
random_shocks

array([ 1.02361143, -0.63005442,  1.09795505,  2.68124147])

In [21]:
random_shocks @ B

month_1   -2.777159
month_3   -2.528890
month_6   -2.440249
year_1    -2.327195
year_2    -2.156650
year_3    -1.943397
year_5    -1.558947
year_7    -1.288880
year_10   -1.058658
year_20   -0.818384
year_30   -0.728339
dtype: float64